.bg-gray{
    background-color:#F0F3F5;
}

.section-padding{
    padding-top: 80px;
    padding-bottom: 80px;
}

.rounded-panel{
    border-radius: 24px;
    background-color: #FCFCFD;
}

.text-blue{
    color: #4A69E8;
}

.subtitle{
    color:#667F99;
    font-size: 18px;
}

.side-width{
    width: 300px;
}

.fs-14{
    font-size: 14px;
}

.btn-style{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 20px;
}